<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Salvador Villalon Flask Practice</title>
  </head>
  <body>
    <!-- <div class="about">
      <h1> About Me </h1>
      <p> This is portfolio site about anything that can be put in a portfolio.</p>
    </div> -->

    {% extends "layout.html" %}
    {% block content %}
    <div class="about">
      <h1>About Me </h1>
      <p>This is portfolio site about anything that can be put in a portfolio.</p>
    </div>
    {% endblock %}

  </body>
</html>
