<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Salvador Villalon Flask Practice</title>
  </head>
  <body>
    <!-- <div clas="home">
      <h1> FLask Practice </h1>
      <p> I wonder what I can do with Flask? </p>
      <p> I feel it can be an investment to learn! </p>
    </div> -->

    {% extends "layout.html" %}
    {% block content %}
    <div class="home">
      <h1> A Python Product </h1>
      <p>This website was built with Python via the Flask Framework </p>
    </div>
    {% endblock %}


  </body>
</html>
